.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.3);

    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.modal.visible{
    display: flex;
}
.modal-wrapper{
    background: #fff;
    max-height: 80vw;
    width: 70%;
    border-radius: 9px;
    overflow-y: scroll;
    padding: 20px;
}